body {
    margin: 0px;
    padding: 0px;
}

.container {
    text-align: center;
    background-color: rgb(255, 245, 108);
    border: 10px solid transparent;
    border-radius: 100px;
    border-width: 1%;
    margin: 10px;
}

.item {
    background-color: white;
    margin-bottom: 15px;
    border-style: dotted;
    border-color: blue;
    border-radius: 200px;
}

translate-form {
    justify-content: center;
}


/*
#function-text {
    box-sizing: border-box;
    border: solid 2px;
    border-color: black;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px grey;
    background-color: white;
}
*/

header {
    margin: 0px;
    padding: 1px;
}

footer {
    width: 100%;
    text-align: center;
    color: black;
    background-color: royalblue;
    padding: 0px;
    margin: 5px 0px 0px 0px !important;
    justify-content: center;
}

footer>img {
    width: 10%;
    height: 10%;
}

.row>div {
    min-height: 100px;
    line-height: 100px;
}

#user-text {
    justify-content: center;
    margin: 15px auto;
    display: block;
    position: relative;
}

div.card {
    border: none;
}

.press {
    cursor: pointer;
    justify-content: center;
}

#minion_speech {
    display: block;
    margin: 0px auto;
    position: relative;
}

#minion_speech>img {
    width: 100px;
    height: 100px;
}