.container {
    text-align: center;
    background-color: rgb(255, 245, 108);
    border: 10px solid transparent;
    border-radius: 100px;
    padding: 1%;
    margin-top: 2%;
    margin-left: 50px;
    margin-right: 50px;
    border-width: 1%;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px 10px grey blur 21px;
}


/*
#function-text {
    box-sizing: border-box;
    border: solid 2px;
    border-color: black;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px grey;
    background-color: white;
}
*/

header {
    margin: 0px;
    padding: 1px;
}

footer {
    text-align: center;
    color: black;
    background-color: royalblue;
    padding: 1%;
    margin: 2px 2px 0px 2px !important;
}

footer>img {
    width: 10%;
    height: 10%;
}

.row>div {
    min-height: 100px;
    line-height: 100px;
}

#text-field {
    text-align: center;
}

div.card {
    border: none;
}

div.card>img {
    cursor: pointer;
}

figure {
    display: block;
}

#minion_speech {
    clear: both;
}

#minion_speech>img {
    width: 50%;
    height: 50%;
}